<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="auto_start" type="bool" label="50002" default="true" />
	<setting id="local_remote" type="enum" label="50000" default="0" lvalues="60001|60002"/>
	<setting id="mkvlocation" type="files" label="50001" default="makemkvcon" visible="eq(-1,0)"/>

	<setting type="lsep" label="51000"/>
	<setting id="ip_address" type="ipaddress" label="51001" default="127.0.0.1" visible="eq(-3,1)" />
	<setting id="port_number" type="integer" label="51002" default="51000" />

</settings>
